In [1]:
import pandas as pd
import numpy as np

results_and_twitter = pd.read_csv('/content/drive/MyDrive/tweets/results_and_twitter.csv', index_col=0)
results_and_twitter.drop(['last_name_x','last_name_y', '_m_full', '_m_last'], axis=1, inplace=True)
results_and_twitter['candidate_name_noacc'] = results_and_twitter['candidate_name'].str.normalize('NFKD').str.encode('ascii', errors='ignore').str.decode('utf-8')
results_and_twitter['candidate_name_noacc'] = results_and_twitter['candidate_name_noacc'].str.title()
fec_acs = pd.read_excel('/content/drive/MyDrive/tweets/fec+acs.xlsx', index_col=0)
fec_acs.drop_duplicates(inplace=True)

results_and_twitter_col = list(results_and_twitter.columns.values)
fec_acs_col = list(fec_acs.columns.values)
fec_acs_col.append('last_name_x')
results_and_twitter_col.append('last_name_y')

all_house_candidates = results_and_twitter.loc[results_and_twitter['office_x']=='house']['candidate_name'].unique()
print(results_and_twitter.loc[results_and_twitter['office_x']=='house'].info()) # 1055 hosue candidates

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1055 entries, 0 to 1719
Data columns (total 23 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   candidate_name           1055 non-null   object
 1   party                    1055 non-null   object
 2   vote_count               1055 non-null   float64
 3   pct                      1055 non-null   object
 4   state                    1055 non-null   object
 5   office_x                 1055 non-null   object
 6   district                 1055 non-null   object
 7   incumbent_from_results   1055 non-null   bool
 8   Ballotpedia Page         996 non-null    object
 9   State                    996 non-null    object
 10  District                 996 non-null    float64
 11  Campaign Twitter         786 non-null    object
 12  Official Twitter         360 non-null    object
 13  Personal Twitter         87 non-null     object
 14  Party                    996 non-null    object
 15  Incumbent?               993 non-null    object
 16  Percent of Votes         993 non-null    float64
 17  office_y                 996 non-null    object
 18  Campaign Twitter_handle  786 non-null    object
 19  Official Twitter_handle  360 non-null    object
 20  Personal Twitter_handle  87 non-null     object
 21  no_twitter               59 non-null     object
 22  candidate_name_noacc     1055 non-null   object
dtypes: bool(1), float64(3), object(19)
memory usage: 190.6+ KB
None

In [2]:
##### check for duplicates in fec-acs data
fec_acs = pd.read_excel('/content/drive/MyDrive/tweets/fec+acs.xlsx', index_col=0)
fec_acs.loc[fec_acs.duplicated('Cand_Name')].sort_values('Cand_Name')

,Cand_Name,Cand_Id,Cand_Office,Cand_Party_Affiliation,Cand_Incumbent_Challenger_Open_Seat,Total_Receipt,hh_size,foreign_born_%,out_of_state_born_%,educ_bsc_%,med_income,unemployment_%,poverty_line_%
distr,,,,,,,,,,,,,
WA-9,"ANDERSON, DAVID",H2WA09206,H,IND,CHALLENGER,0.00,2.54,31.4,1.2,27.6,96760.0,7.1,11.8
MN-1,"BERMAN, JOHN",H2MN01215,H,REP,OPEN,0.00,2.41,6.5,0.8,19.8,70349.0,3.9,10.2
MN-7,"BERMAN, JOHN",H2MN07154,H,REP,CHALLENGER,0.00,2.36,3.5,0.7,17.9,63464.0,4.2,11.5
MN-5,"BERMAN, JOHN",H2MN05182,H,REP,CHALLENGER,0.00,2.24,14.2,1.0,32.3,71821.0,7.0,12.5
PA-1,"BRUNO, ERIC M",H2PA01131,H,DEM,CHALLENGER,0.00,2.55,10.9,1.0,27.2,98993.0,5.7,6.5
IL-11,"CARROLL, MARK JOSEPH",H2IL11199,H,REP,CHALLENGER,0.00,2.77,18.9,0.7,24.3,83236.0,6.8,9.9
TX-16,"CATER, CORBIN ZANE",H2TX16268,H,IND,CHALLENGER,0.00,2.85,21.8,1.1,19.3,52253.0,8.4,19.3
IL-12,"DOOFENSHMIRTZ, HEINZ R DR.",H2IL12163,H,DEM,CHALLENGER,0.00,2.38,2.5,1.2,15.9,56579.0,6.8,14.5
IL-12,"DOOFENSHMIRTZ, HEINZ R DR.",H2IL12171,H,DEM,CHALLENGER,0.00,2.38,2.5,1.2,15.9,56579.0,6.8,14.5
IL-12,"DOOFENSHMIRTZ, HEINZ R DR.",H2IL12189,H,DEM,CHALLENGER,0.00,2.38,2.5,1.2,15.9,56579.0,6.8,14.5
US-0,"ELKIN, CRAIG RUSSELL",P20005906,P,NNE,CHALLENGER,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
US-0,"ENGLAND, RAYMOND MATTHEW MATT",P20005922,P,FED,CHALLENGER,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CA-5,"ESTRADA, JOHN ANTHONY",H2CA05103,H,REP,CHALLENGER,0.00,2.59,21.2,1.0,23.8,88514.0,7.7,10.6
NJ-1,"FLETCHER, ISAIAH",H2NJ01179,H,LIB,CHALLENGER,0.00,2.54,10.2,1.1,22.6,80484.0,8.2,11.1
TX-15,"GARZA, JULIO",H2TX15161,H,DEM,CHALLENGER,0.00,3.11,21.0,1.0,15.3,49854.0,7.7,26.4
OK-3,"GRAYSON, RICHARD",H2OK03131,H,DEM,CHALLENGER,0.00,2.57,4.1,0.9,17.3,57230.0,5.3,14.5
OK-2,"GRAYSON, RICHARD",H2OK02265,H,DEM,OPEN,0.00,2.53,2.3,0.8,12.8,47029.0,6.3,18.5
AZ-9,"GRAYSON, RICHARD",H2AZ09233,H,W,CHALLENGER,0.00,2.31,13.3,1.4,26.9,69645.0,5.0,13.0
AZ-8,"GRAYSON, RICHARD",H2AZ08185,H,DEM,CHALLENGER,0.00,2.60,9.8,1.3,19.7,80144.0,4.5,7.8
US-0,"HARVEY, TERRANCE JAMES",P20005955,P,NNE,CHALLENGER,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NY-1,"HOLLOWAY, AMBASSADOR KINGISAAC MONTRAI",H2NY01273,H,JCN,OPEN,0.00,2.75,14.1,0.7,20.4,105268.0,5.5,6.5
KS-4,"JACOBS, KYLE",H2KS04131,H,IND,CHALLENGER,0.00,2.53,6.3,1.1,19.2,59999.0,6.0,12.7
KS-4,"JACOBS, KYLE",H2KS04123,H,IND,CHALLENGER,0.00,2.53,6.3,1.1,19.2,59999.0,6.0,12.7
OH-15,"JOSEPHSON, GARY",H2OH15269,H,DEM,CHALLENGER,0.00,2.44,4.5,0.8,21.6,76022.0,4.6,10.1
NJ-10,"LUDDEN, KENDAL",H2NJ10253,H,LBL,CHALLENGER,0.00,2.56,31.6,1.1,20.9,61597.0,11.7,17.1
PA-5,"MARGUS, ROBERT",H2PA05082,H,LIB,CHALLENGER,0.00,2.47,12.0,0.8,23.8,73201.0,8.7,11.6
FL-25,"MEDINA, IAN ANTHONY",H2FL25075,H,DEM,CHALLENGER,0.00,2.81,54.5,0.9,17.7,62901.0,5.0,13.7
FL-27,"MEDINA, IAN ANTHONY",H2FL27048,H,NPA,CHALLENGER,0.00,2.39,52.0,1.0,27.1,64863.0,4.9,13.3
GA-5,"MEDINA, IAN ANTHONY",H2GA05158,H,DEM,CHALLENGER,0.00,2.17,9.6,1.4,29.0,64160.0,5.8,18.1
UT-2,"MITCHELL, NICHOLAS",H2UT02498,H,DEM,CHALLENGER,42824.76,2.74,8.7,1.2,21.8,74135.0,4.2,9.0
TX-35,"PALAGI, ASA",H2TX35177,H,REP,CHALLENGER,0.00,2.46,15.3,1.3,18.8,57093.0,6.9,16.1
KY-3,"PUCCETTI, GREGORY PETER",H2KY03230,H,REP,OPEN,25575.10,2.29,9.2,0.9,20.5,59174.0,5.0,14.5
CA-1,"RAMOS, JONATHON ANGEL",H2CA01243,H,FED,CHALLENGER,0.00,2.48,6.0,1.1,18.1,63062.0,8.6,14.8
IL-11,"RAMOS, JUAN",H2IL11231,H,REP,CHALLENGER,0.00,2.77,18.9,0.7,24.3,83236.0,6.8,9.9
IL-11,"RAMOS, JUAN",H2IL11256,H,REP,CHALLENGER,0.00,2.77,18.9,0.7,24.3,83236.0,6.8,9.9
IL-11,"RAMOS, JUAN",H2IL11215,H,REP,CHALLENGER,0.00,2.77,18.9,0.7,24.3,83236.0,6.8,9.9
IL-11,"RAMOS, JUAN",H2IL11249,H,REP,CHALLENGER,0.00,2.77,18.9,0.7,24.3,83236.0,6.8,9.9
CA-24,"SAGOO, GURPINDER SINGH",H2CA24179,H,REP,CHALLENGER,0.00,2.67,17.3,0.8,22.9,83173.0,7.4,14.9
FL-9,"SMITH JR, HENDRITH VANLON",H2FL09244,H,IND,CHALLENGER,0.00,2.88,20.2,1.4,18.9,60561.0,5.7,14.5
FL-9,"SMITH JR, HENDRITH VANLON",H2FL09202,H,DEM,CHALLENGER,0.00,2.88,20.2,1.4,18.9,60561.0,5.7,14.5
AZ-8,"SPREITZER, JEREMY",H2AZ08193,H,W,NaN,0.00,2.60,9.8,1.3,19.7,80144.0,4.5,7.8
TX-7,"STEWART, LANCE",H2TX07135,H,REP,CHALLENGER,23730.99,2.54,30.3,1.4,28.8,77167.0,7.0,11.9
ME-2,"SUTTON, MICHAEL PHILLIP MR",H2ME02220,H,DEM,CHALLENGER,0.00,2.22,3.4,1.0,17.9,55438.0,5.4,14.6
AL-5,"THOMPSON, CHARLES",H2AL05144,H,AL,OPEN,35028.56,2.41,4.6,1.2,21.6,65701.0,3.7,12.0
NY-8,"VASQUEZ, CLEMENTINE",H2NY08153,H,DEM,CHALLENGER,0.00,2.50,32.5,0.9,22.0,63436.0,11.7,18.2
US-0,"WALLS-WINDHAUSER, ANGELA",P40004574,P,REP,CHALLENGER,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
IN-96,"YOUNG, ALEEM MR",H2IN96032,H,IND,CHALLENGER,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
IN-96,"YOUNG, ALEEM MR",H2IN96024,H,IDP,CHALLENGER,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CA-24,"YOUNG, KENNETH",H2CA24195,H,IND,CHALLENGER,0.00,2.67,17.3,0.8,22.9,83173.0,7.4,14.9

In [3]:
#fec_acs.loc[fec_acs.duplicated('Cand_Name')]

In [4]:
# merging using full names
def convert_name(name_comma):
  if ',' in name_comma:
    split = name_comma.split(',')
    if len(split) > 2:
      return(name_comma)
    if len(split) == 2:
      return(split[1].strip() + ' ' + split[0].strip())
  else:
    return(name_comma)

def keep_first_last(string):
  split = string.split(' ')
  return(split[0] + ' ' + split[-1])

fec_acs['converted_name'] = fec_acs['Cand_Name'].map(convert_name).map(keep_first_last).str.title()
fec_acs['last_name'] = fec_acs['Cand_Name'].str.split(',').str[0].str.title()

results_and_twitter['last_name'] = results_and_twitter['candidate_name_noacc'].str.split().str[-1]
m_first_last = fec_acs.merge(results_and_twitter, how='outer', left_on='converted_name', right_on='candidate_name_noacc', indicator=True)

final_df = m_first_last.loc[m_first_last['_merge']=='both']
fec_only = m_first_last.loc[m_first_last['_merge']=='left_only']
fec_only = fec_only[fec_acs_col]
twi_only = m_first_last.loc[m_first_last['_merge']=='right_only']
twi_only = twi_only[results_and_twitter_col]

final_df.drop_duplicates(['candidate_name', 'office_x']).info()
final_df.drop_duplicates(['candidate_name']).info() # 858

<class 'pandas.core.frame.DataFrame'>
Int64Index: 858 entries, 43 to 3780
Data columns (total 40 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Cand_Name                            858 non-null    object
 1   Cand_Id                              858 non-null    object
 2   Cand_Office                          858 non-null    object
 3   Cand_Party_Affiliation               858 non-null    object
 4   Cand_Incumbent_Challenger_Open_Seat  823 non-null    object
 5   Total_Receipt                        858 non-null    float64
 6   hh_size                              837 non-null    float64
 7   foreign_born_%                       837 non-null    float64
 8   out_of_state_born_%                  837 non-null    float64
 9   educ_bsc_%                           837 non-null    float64
 10  med_income                           837 non-null    float64
 11  unemployment_%                       837 non-null    float64
 12  poverty_line_%                       837 non-null    float64
 13  converted_name                       858 non-null    object
 14  last_name_x                          858 non-null    object
 15  candidate_name                       858 non-null    object
 16  party                                858 non-null    object
 17  vote_count                           858 non-null    float64
 18  pct                                  858 non-null    object
 19  state                                858 non-null    object
 20  office_x                             858 non-null    object
 21  district                             855 non-null    object
 22  incumbent_from_results               858 non-null    object
 23  Ballotpedia Page                     816 non-null    object
 24  State                                816 non-null    object
 25  District                             816 non-null    float64
 26  Campaign Twitter                     634 non-null    object
 27  Official Twitter                     279 non-null    object
 28  Personal Twitter                     75 non-null     object
 29  Party                                816 non-null    object
 30  Incumbent?                           814 non-null    object
 31  Percent of Votes                     814 non-null    float64
 32  office_y                             816 non-null    object
 33  Campaign Twitter_handle              634 non-null    object
 34  Official Twitter_handle              279 non-null    object
 35  Personal Twitter_handle              75 non-null     object
 36  no_twitter                           42 non-null     object
 37  candidate_name_noacc                 858 non-null    object
 38  last_name_y                          858 non-null    object
 39  _merge                               858 non-null    category
dtypes: category(1), float64(11), object(28)
memory usage: 269.1+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 857 entries, 43 to 3780
Data columns (total 40 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Cand_Name                            857 non-null    object
 1   Cand_Id                              857 non-null    object
 2   Cand_Office                          857 non-null    object
 3   Cand_Party_Affiliation               857 non-null    object
 4   Cand_Incumbent_Challenger_Open_Seat  822 non-null    object
 5   Total_Receipt                        857 non-null    float64
 6   hh_size                              836 non-null    float64
 7   foreign_born_%                       836 non-null    float64
 8   out_of_state_born_%                  836 non-null    float64
 9   educ_bsc_%                           836 non-null    float64
 10  med_income                           836 non-null    float64
 11  unemployment_%                       836 non-null    float64
 12  poverty_line_%                       836 non-null    float64
 13  converted_name                       857 non-null    object
 14  last_name_x                          857 non-null    object
 15  candidate_name                       857 non-null    object
 16  party                                857 non-null    object
 17  vote_count                           857 non-null    float64
 18  pct                                  857 non-null    object
 19  state                                857 non-null    object
 20  office_x                             857 non-null    object
 21  district                             855 non-null    object
 22  incumbent_from_results               857 non-null    object
 23  Ballotpedia Page                     815 non-null    object
 24  State                                815 non-null    object
 25  District                             815 non-null    float64
 26  Campaign Twitter                     634 non-null    object
 27  Official Twitter                     279 non-null    object
 28  Personal Twitter                     75 non-null     object
 29  Party                                815 non-null    object
 30  Incumbent?                           813 non-null    object
 31  Percent of Votes                     813 non-null    float64
 32  office_y                             815 non-null    object
 33  Campaign Twitter_handle              634 non-null    object
 34  Official Twitter_handle              279 non-null    object
 35  Personal Twitter_handle              75 non-null     object
 36  no_twitter                           42 non-null     object
 37  candidate_name_noacc                 857 non-null    object
 38  last_name_y                          857 non-null    object
 39  _merge                               857 non-null    category
dtypes: category(1), float64(11), object(28)
memory usage: 268.8+ KB

In [5]:
# merging using unique last names
fec_unique_last = fec_only.drop_duplicates(['last_name_x'], keep=False)
fec_last_name_list = fec_unique_last['last_name_x'].unique()
twi_unique_last = twi_only.drop_duplicates(['last_name_y'], keep=False)
twi_last_name_list = twi_unique_last['last_name_y'].unique()

m_last_name = fec_only.merge(twi_only, how='outer', left_on='last_name_x', right_on='last_name_y', sort=True, indicator='_m_last')
m_last_name['unique'] = np.where(m_last_name['last_name_x'].isin(fec_last_name_list) & m_last_name['last_name_y'].isin(twi_last_name_list), True, False)
print(m_last_name['unique'].sum()) # 129

final_df = pd.concat([final_df, m_last_name.loc[m_last_name['unique']==True]])
final_df.drop_duplicates('candidate_name').info() # 986

129
<class 'pandas.core.frame.DataFrame'>
Int64Index: 986 entries, 43 to 3430
Data columns (total 42 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Cand_Name                            986 non-null    object
 1   Cand_Id                              986 non-null    object
 2   Cand_Office                          986 non-null    object
 3   Cand_Party_Affiliation               986 non-null    object
 4   Cand_Incumbent_Challenger_Open_Seat  949 non-null    object
 5   Total_Receipt                        986 non-null    float64
 6   hh_size                              962 non-null    float64
 7   foreign_born_%                       962 non-null    float64
 8   out_of_state_born_%                  962 non-null    float64
 9   educ_bsc_%                           962 non-null    float64
 10  med_income                           962 non-null    float64
 11  unemployment_%                       962 non-null    float64
 12  poverty_line_%                       962 non-null    float64
 13  converted_name                       857 non-null    object
 14  last_name_x                          986 non-null    object
 15  candidate_name                       986 non-null    object
 16  party                                986 non-null    object
 17  vote_count                           986 non-null    float64
 18  pct                                  986 non-null    object
 19  state                                986 non-null    object
 20  office_x                             986 non-null    object
 21  district                             962 non-null    object
 22  incumbent_from_results               986 non-null    object
 23  Ballotpedia Page                     910 non-null    object
 24  State                                910 non-null    object
 25  District                             910 non-null    float64
 26  Campaign Twitter                     725 non-null    object
 27  Official Twitter                     325 non-null    object
 28  Personal Twitter                     80 non-null     object
 29  Party                                910 non-null    object
 30  Incumbent?                           907 non-null    object
 31  Percent of Votes                     907 non-null    float64
 32  office_y                             929 non-null    object
 33  Campaign Twitter_handle              725 non-null    object
 34  Official Twitter_handle              325 non-null    object
 35  Personal Twitter_handle              80 non-null     object
 36  no_twitter                           57 non-null     object
 37  candidate_name_noacc                 986 non-null    object
 38  last_name_y                          986 non-null    object
 39  _merge                               857 non-null    category
 40  _m_last                              129 non-null    category
 41  unique                               129 non-null    object
dtypes: category(2), float64(11), object(29)
memory usage: 318.0+ KB

In [6]:
# match by hand
handmatch_df = m_last_name.loc[m_last_name['unique']==False]
temp = handmatch_df[['Cand_Name', 'candidate_name_noacc', 'Cand_Id', 'state', 'office_x', 'district']].loc[handmatch_df['office_x']=='house']
twi_handmatch = handmatch_df.loc[handmatch_df['_m_last'].isin(['right_only', 'both'])][results_and_twitter_col]
fec_handmatch = handmatch_df.loc[handmatch_df['_m_last'].isin(['left_only', 'both'])][fec_acs_col]
twi_handmatch = twi_handmatch.drop_duplicates()
fec_handmatch = fec_handmatch.drop_duplicates()
print(twi_handmatch.info()) # 335 entries

<class 'pandas.core.frame.DataFrame'>
Int64Index: 335 entries, 2 to 3422
Data columns (total 24 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   candidate_name           335 non-null    object
 1   party                    335 non-null    object
 2   vote_count               335 non-null    float64
 3   pct                      335 non-null    object
 4   state                    335 non-null    object
 5   office_x                 335 non-null    object
 6   district                 97 non-null     object
 7   incumbent_from_results   335 non-null    object
 8   Ballotpedia Page         86 non-null     object
 9   State                    86 non-null     object
 10  District                 86 non-null     float64
 11  Campaign Twitter         227 non-null    object
 12  Official Twitter         83 non-null     object
 13  Personal Twitter         34 non-null     object
 14  Party                    86 non-null     object
 15  Incumbent?               86 non-null     object
 16  Percent of Votes         86 non-null     float64
 17  office_y                 294 non-null    object
 18  Campaign Twitter_handle  227 non-null    object
 19  Official Twitter_handle  83 non-null     object
 20  Personal Twitter_handle  34 non-null     object
 21  no_twitter               41 non-null     object
 22  candidate_name_noacc     335 non-null    object
 23  last_name_y              335 non-null    object
dtypes: float64(3), object(21)
memory usage: 65.4+ KB
None

In [7]:
handmatch = {}
handmatch['ALEXANDER, TIMOTHY C'] = 'Tim Alexander'
handmatch['ALLEN, RICHARD W'] = 'Rick Allen'
handmatch['BACON, DONALD J'] = 'Don Bacon'
handmatch['BANKS, JAMES E HON.'] = 'Jim Banks'
handmatch['BARR, GARLAND ANDY'] = 'Andy Barr'
handmatch['BISHOP, JAMES DANIEL'] = 'Dan Bishop'
handmatch['BROWN, M SHONTEL'] = 'Shontel Brown'
handmatch['BROWN, MARY KATHLEEN'] = 'Kathleen Brown'
handmatch['CARL, JERRY LEE, JR'] = 'Jerry Carl'
handmatch['CARSON, ANDRE'] = 'Andre Carson'
handmatch['CARTWRIGHT, MATTHEW A.'] = 'Matt Cartwright'
handmatch['CLARK, DREW-MONTEZ DR.'] = 'Drew Clark'
handmatch['COLLINS, MICHAEL A JR'] = 'Mike Collins'
handmatch['CRAIG, ANGELA DAWN'] = 'Angie Craig'
handmatch['DANIELS, PAMELA RENEE MS'] = 'Pam Daniels'
handmatch['DAVIS, DON'] = 'Donald Davis'
handmatch['DUNN, NEAL PATRICK MD, FACS'] = 'Neal Dunn'
handmatch['FLETCHER, ELIZABETH'] = 'Lizzie Fletcher'
handmatch['FOSTER, G. WILLIAM (BILL)'] = 'Bill Foster'
handmatch['GARCIA, CASSANDRA'] = 'Cassy Garcia'
handmatch['GARCIA, MICHAEL'] = 'Mike Garcia'
handmatch['GARCIA, KEVIN ANDRES'] = 'Andres Garcia'
handmatch['GOLDBERG, BARTLEY F.'] = 'Bart Goldberg'
handmatch['GONZALES, ERNEST ANTHONY TONY II'] = 'Tony Gonzales'
handmatch['GORDON, JACQUELINE'] = 'Jackie Gordon'
handmatch['Meg Gorman'] = 'GORMAN, MARY'
handmatch['GREEN, ALEXANDER'] = 'Al Green'
handmatch['GRIFFITH, H MORGAN'] = 'Morgan Griffith'
handmatch['HEALEY, ROBERT JR'] = 'Bob Healey'
handmatch['HIGGINS, JAMES'] = 'Jim Higgins'
handmatch['HILL, JAMES FRENCH'] = 'French Hill'
handmatch['HOLLOWAY, LASHONDA J'] = 'LaShonda Holloway'
handmatch['HOWARD, JAMES MILO'] = 'Jim Howard'
handmatch['JACOBS, MATTHEW'] = 'Matt Jacobs'
handmatch['JOHNSON, ELIZABETH'] = 'Liz Johnson'
handmatch["JOHNSON, HENRY C. 'HANK'"] = 'Hank Johnson'
handmatch['JOHNSON, JAMES MICHAEL'] = 'Mike Johnson'
handmatch['JONES, HERBERT CARROLL JR'] = 'Herb Jones'
handmatch['JORDAN, JAMES D.'] = 'Jim Jordan'
handmatch['KELLY, JOHN TRENT'] = 'Trent Kelly'
handmatch['KELLY, JACQUELYN ODESSA'] = 'Odessa Kelly' # district doesn't match but seems like the same person
handmatch['KIM, ANDY'] = 'Andrew Kim'
handmatch['KRAUSE, E M'] = 'Elizabeth Krause'
handmatch['MEUSER, DANIEL'] = 'Dan Meuser'
handmatch['MITCHELL, NICHOLAS'] = 'Nick Mitchell' # id 'H2UT02464' or 'H2UT02498'
handmatch['MOON, CLIFFORD E'] = 'Cliff Moon'
handmatch['MOORE, FELIX BARRY'] = 'Barry Moore'
handmatch['NEIGHBORS, RICKY'] = 'Rick Neighbors'
handmatch['PENCE, GREGORY J.'] = 'Greg Pence'
handmatch['PETERS, SAMUEL JAMES MR'] = 'Sam Peters'
handmatch['PORTER, KATHERINE'] = 'Katie Porter'
handmatch['RICE, MAXWELL'] = 'Max Rice'
handmatch['ROBINSON, BULLDOG BEN'] = 'Ben Robinson'
handmatch['ROGERS, HAROLD DALLAS'] = 'Hal Rogers'
handmatch['ROGERS, MICHAEL'] = 'Mike Rogers'
handmatch['SCOTT, JAMES AUSTIN'] = 'Austin Scott'
handmatch['SCOTT, ROBERT C'] = 'Bobby Scott' # should be third district
handmatch['SMITH, CHRISTOPHER H'] = 'Chris Smith'
handmatch['SMITH, D. ADAM'] = 'Adam Smith'
handmatch["VARGAS, ANTHONY 'TONY'"] = 'Tony Vargas'
handmatch['WATSON, EUGENE LACY'] = 'Lacy Watson'
handmatch['WEST, CHRISTOPHER CHRIS'] = 'Chris West'
handmatch['YOUNG, GEOFFREY M'] = 'Geoff Young'
handmatch['GREYBULL, LYNNETTE'] = 'Lynnette Bull'
handmatch['CLEAVER II, EMANUEL'] = 'Emanuel Cleaver'
handmatch['DESPOSITO, ANTHONY P'] = "Anthony D'Esposito"
handmatch['DAZA-FERNANDEZ, ANTONIO MIGUEL'] = 'Antonio Daza'
handmatch['ARMENDARIZ-JACKSON, IRENE'] = 'Irene Jackson'
handmatch['VAN DUYNE, ELIZABETH ANN'] = 'Beth Duyne'
handmatch['ARENHOLZ, ASHLEY HINSON'] = 'Ashley Hinson'
handmatch['CHILDRESS, CLENARD HOWARD JR.'] = 'Clenard Childress Jr.'
handmatch['BEYER, DONALD STERNOFF HONORABLE JR.'] = 'Donald Beyer Jr.'
handmatch['PAYNE, DONALD M. JR'] = 'Donald Payne Jr.'
handmatch['PALLONE, FRANK JR'] = 'Frank Pallone Jr.'
handmatch['FLINN, GEORGE S DR JR'] = 'George Flinn Jr.'
handmatch['COMER, JAMES'] = 'James Comer Jr.'
handmatch['HAYDEN, KEITH R. JR'] = 'Keith Hayden Jr.'
handmatch['PEREZ, MACLOVIO MR JR'] = 'Maclovio Perez Jr.'
handmatch['ELWORTH, MARK'] = 'Mark Elworth Jr.'
handmatch['MAY, ROBERT'] = 'Robert May Jr.'
handmatch['BISHOP, SANFORD'] = 'Sanford Bishop Jr.'
handmatch['KEAN, THOMAS H. JR.'] = 'Thomas Kean Jr.'
handmatch['GONZALEZ, VICENTE'] = 'Vicente Gonzalez Jr.'
handmatch['JONES, ANDREW M JR'] = 'Andrew Andrew Jr.'
handmatch['NICK, LALOTA'] = 'Nicholas Lalota'
handmatch['HAYS, LAUREN'] = 'Lauren Mallett-Hays'
handmatch['TREVNO, ROSALINDA NUNO'] = 'Linda Nuno'
handmatch['BENJAMIN, LEON MR. SR.'] = 'Leon Sr.'
handmatch['GOENAGA-TORRES, SANTIAGO DAVID'] = 'David Torres'
handmatch['PATERSON, CLARK'] = 'Clark Patterson'
handmatch['MCDONALD, DARLENE'] = 'Darlene Mcdonald'
handmatch['MCDOWELL, JAN'] = 'Jan Mcdowell'
handmatch['LEBLANC, JOSEPH JR.'] = 'Joseph Leblanc'
handmatch['MCCARTHY, KEVIN'] = 'Kevin Mccarthy'
handmatch['HOLLOWAY, LASHONDA J'] = 'Lashonda Holloway'
handmatch['MCFARLAND, LARRY D.'] = 'Larry Mcfarland'
handmatch['SANCHEZ, LINDA'] = 'Linda Sanchez'
handmatch['MCGOVERN, JAMES P. MR.'] = 'Jim Mcgovern'
handmatch['MCCORMICK, RAY'] = 'Ray Mccormick'
handmatch['MCCORMICK, RICHARD DEAN DR.'] = 'Rich Mccormick'
handmatch['MCGONIGAL, RYAN JAMES'] = 'Ryan Mcgonigal'
handmatch['MCFARLAND, JAY JAYMAC'] = 'Jay Mcfarland'
handmatch['LEBLANC, LESSIE OLIVIA'] = 'Lessie Leblanc'
handmatch['GORMAN, MARY'] = 'Meg Gorman'
'''
handmatch[''] = ''
handmatch[''] = 

, 'Cynthia Johnson', 'Darian Drake',
       'Meg Gorman', 
       'Mike Kelly', 'Pat Ryan',

handmatch['CHAVEZ-DEREMER, LORI'] = 'Lori Chavez-DeRemer'
handmatch['CHERFILUS-MCCORMICK, SHEILA'] = 'Sheila Cherfilus-McCormick'
handmatch[''] = 'Tony Cárdenas'
handmatch[''] = "Anthony D'Esposito"

handmatch[''] = 'Darian Drake'
handmatch['???'] = 'Clark Patterson'

handmatch['???'] = 'Cynthia Johnson'

handmatch[''] = ''
handmatch[''] = ''
handmatch[''] = ''
handmatch[''] = ''
'''

'\nhandmatch[\'\'] = \'\'\nhandmatch[\'\'] = \n\n, \'Cynthia Johnson\', \'Darian Drake\',\n       \'Meg Gorman\', \n       \'Mike Kelly\', \'Pat Ryan\',\n\nhandmatch[\'CHAVEZ-DEREMER, LORI\'] = \'Lori Chavez-DeRemer\'\nhandmatch[\'CHERFILUS-MCCORMICK, SHEILA\'] = \'Sheila Cherfilus-McCormick\'\nhandmatch[\'\'] = \'Tony Cárdenas\'\nhandmatch[\'\'] = "Anthony D\'Esposito"\n\nhandmatch[\'\'] = \'Darian Drake\'\nhandmatch[\'???\'] = \'Clark Patterson\'\n\nhandmatch[\'???\'] = \'Cynthia Johnson\'\n\nhandmatch[\'\'] = \'\'\nhandmatch[\'\'] = \'\'\nhandmatch[\'\'] = \'\'\nhandmatch[\'\'] = \'\'\n'

In [8]:
fec_handmatch['handmatch_full_name'] = fec_handmatch['Cand_Name'].map(handmatch)

In [9]:
handmatched = fec_handmatch.merge(twi_handmatch, left_on='handmatch_full_name', right_on='candidate_name_noacc', how='outer', indicator='_m_handmatch')

In [ ]:
final_df = pd.concat([final_df, handmatched.loc[handmatched['_m_handmatch']=='both']]) # 87
final_df.drop_duplicates().info()

In [11]:
house = final_df.loc[final_df['office_x']=='house']
house.drop_duplicates(inplace=True)

/usr/local/lib/python3.8/dist-packages/pandas/util/_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)

In [12]:
for cand in all_house_candidates[~np.isin(all_house_candidates, house['candidate_name'])]:
  print(cand)
  print(results_and_twitter.loc[results_and_twitter['candidate_name']==cand][['state', 'district']])

Cynthia Johnson
          state district
346  New Jersey       10
Darian Drake
     state district
380  Idaho        1
Mike Kelly
             state district
1242  Pennsylvania       16
Pat Ryan
         state district
1313  New York       18

In [14]:
house.to_excel('house.xlsx')